.d-flex {
  display: flex;
}

.py-3 {
  padding: 3rem 0 3rem 0;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-items-inherit {
  align-items: inherit;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.mr-2 {
  margin-right: 8px !important;
}

.mr-3 {
  margin-right: 12px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mt-3 {
  margin-top: 12px !important;
}

.mt-3 {
  margin-bottom: 12px !important;
}

.form-image {
  width: 20%;
  text-align: center;
  border: 1px solid rgba(202, 193, 193, 0.93);
  padding-top: 8px;
}

.MuiButton-root {
  text-transform: none !important;
  margin-top: 2px;
}

.no-item-container {
  width: 100%;
  height: 650px;
  background-color: rgba(232, 232, 232, 0.31);
  line-height: 30px;
  color: gray;
}

.no-item-message {
  margin-top: 200px;
}

.no-item-message a {
  cursor: pointer;
  color: blue;
}

.beer-card-item {
  cursor: pointer;
  position: relative;
}

.beer-card-item:hover {
  background-color: aliceblue;
  transition: ease-in-out 0.5s;
}

.beer-image:hover .beer-card-item {
  background-color: red !important;
  width: 700px;
}

.MuiTooltip-tooltip {
  background-color: black !important;
  color: white !important;
  font-size: 500px;
  font-weight: bold;
}

.MuiTooltip-tooltipArrow {
  background-color: black !important;
}
