.py-3 {
  padding: 3rem 0 3rem 0;
}
.tab-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
}

.MuiButton-root{
  text-transform: none !important;
  margin-top: 2px;
}